body {}

#mydiv {
    position: fixed;
    z-index: 15;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196f3;
    color: #fff;
}

.bg_all {}

.path-3 {
    -webkit-animation: waveAnimateC 7s ease-in-out infinite alternate;
    animation: waveAnimateC 7s ease-in-out infinite alternate;
    -webkit-animation-iteration-count: 7;
    animation-iteration-count: 7;
}

.card-img {
    background-color: #23195f;
    /* background-color: #000; */
}

.rtl li {
    direction: ltr;
}

article li {
    list-style: none;
    justify-content: center;
    text-align: center;
}

.up_icon {
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 15px;
    }
}